body{
    background-image: url("black_bg.jpg");
    font-family: "Century Gothic";
}
a{
    text-decoration: none;
}
.head{
    text-align: center;
    color: #e65319;
    font-size: 65px;
    text-decoration: none;
}
.head1{
    text-align: center;
    color: #e65319;
    font-size: 50px;
    text-decoration: none;
}
.game{
    color: #e65319;
    background-color: black;
    height: 30%;
    border-style: solid;
    border-radius: 20px;
    border-color: #ffffff;
}
.gname{
    font-size: 50px;;
}
.gdesc{
    font-size: 25px;
    color: #ffffff;
}
.game:hover {
    background-color: #ffffff;
    color: #000000; 
    height: 35%;  
}
.game:hover .gdesc{
    color:#000000;
}
.form{
    width: 50%;
}
.dropdown{
    width: 60%;
    height: 40px;
    font-size: 25px;
    background-color: #000000;
    color: #e65319;
}
.textbox{
    width: 60%;
    height: 40px;
    font-size: 25px;
    color: #ffffff;
    background-color: #000000;
    border-color: #e65319;
    border-style: none none solid none;
    border-radius: 15px;;
}
.textbox::placeholder{
    color:#ffffff;
}
.submitbutton{
    width: 20%;
    height: 40px;
    font-size: 25px;
    color: #ffffff;
    background-color: #e65319;
    border-radius: 20px;
}
.submitbutton:hover{
    background-color: #ffffff;
    color:#e65319;
    width: 25%;
}
